@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

body {
    font-family: 'Ubuntu', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 400;
    background-color: #eee;
}

.product-picture {
    float: left;
    height: 200px;
    margin-right: 10px;
    margin-top: 15px;;
}
#commentForm {
    margin-top: auto;
}